<!DOCTYPE html>
<html>
  <head>
      <title><%= @Holiday.title %></title>
      <link rel="stylesheet" type="text/css" href=<%= @Holiday.css_path %>>
  </head>
  <body>

    <%= @Holiday.bodyContent %>



  </body>
