<!DOCTYPE html>
<html>
  <head>
    <title>Lewis J. Paul's Portfolio</title>
  </head>
  <body>
  <link rel="stylesheet" type="text/css" href="/css/projects.css">
  <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>

  </body>
<!-- Top Nav -->
<div class="row" id="details-jeremy">
  <p>
    I'm a dude who likes to play in code and occasionally goes for a swim.<br>I hope you enjoy this showcase of some of my work.<br>I look forward to hearing your feedback.<br><br>
    Everything gets better one iteration at a time.
  </p>
</div>
<div class="row" id="social-jeremy">
<!-- Introduction & social media -->
</div>
<div class="row" id="details-jeremy">
<h1>Sitting on the shoulders of pop culture giants...</h1>
</div>
<div class="row" id="culture-jeremy">
<!-- Pop culture -->
<a href="http://sevendirtywords.herokuapp.com/"><img src="/img/stock/george.jpg" id="image-button" alt="Twitter scan for George Carlin's 7 Dirty Words"></a>
<a href="http://sevendirtywords.herokuapp.com/"><img src="/img/stock/george.jpg" id="image-button"></a>
</div>
<div class="row" id="details-jeremy">
<h1>Learning is best done with toys...</h1>
</div>
<div class="row" id="edu-jeremy">
<!-- Education  -->
</div>
<!-- Footer -->

</html>