<!DOCTYPE html>
<html>
  <head>
    <title>Lewis J. Paul's Portfolio</title>
  </head>
  <body>
  <link rel="stylesheet" type="text/css" href="/css/projects.css">
  <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <!-- Bootstrap CDN-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<div class="row" id="details-jeremy">
  <h1>I am who I am...</h1>
    <form action="http://lewisjpaul.tumblr.com/"><input type="submit" value="Blog"></form>
    <form action="https://twitter.com/LewisJPaul"><input type="submit" value="Twitter"></form>
    <form action="https://www.linkedin.com/in/jeremy-lewis-6a11b312"><input type="submit" value="LinkedIn"></form>
</div>
<a name="social"></a>
<div class="row" id="social-jeremy">
<!-- Introduction & social media -->
  <p><strong>
    I'm a dude who likes to play in code and occasionally goes for a swim.<br>I hope you enjoy this showcase of some of my work.<br>I look forward to hearing your feedback.
  </strong></p>
</div>
<div class="row" id="details-jeremy">
<a name="culture"></a>  
<h1>Tune Up.</h1>
</div>
<div class="row img-responsive" id="culture-jeremy">
<!-- Pop culture -->
<row>
  <!-- George Carlin -->
   <div id="preview" class="col-md-offset-1 col-md-3">
    <br>
    <a href="http://sevendirtywords.herokuapp.com/"><img src="/img/stock/george.jpg" id="image-button" alt="Twitter scan for George Carlin's 7 Dirty Words"></a>
    <br><br>
    Search your favorite twitter accounts to check for George Carlin's 7 Dirty Word.
    <br><br>
  </div>
  <!-- GoT Game -->
   <div id="preview" class="col-md-offset-1 col-md-3">
    <br>
      <a href="http://game-of-wits.herokuapp.com/"><img src="/img/stock/got.jpg" id="image-button" alt="Game of Thrones Memory Game" class="img-responsive"></a>
    <br><br>
    How well do you remember classic lines from Game of Thrones?  Take the memory quiz to find out!
    <br><br>
  </div>
  <!-- Odyssey Redesign -->
  <div id="preview" class="col-md-offset-1 col-md-2">
    <br>
      <a href="/odyssey"><img src="/img/volunteer/odyssey-favicon.ico" id="image-oval" alt="A redesign of the Odyssey Writing Workshop’s home page"></a>
    <br><br>
    A design proposal for the Odyssey Writing Workshop’s home page.  This includes a screenshot of their original homepage.
    <br><br>
  </div>
</row><row>

  <!-- Blondie -->
  <div id="preview" class="col-md-offset-1 col-md-2">
    <br>
      <a href="/blondie"><img src="/img/stock/blondie.png" alt="A Tribute to Blondie" class="img-responsive" ></a>
    <br>
    A fan tribute page to Blondie using Wiki facts and api.
    <br><br>
  </div>

</row>
</div>
<div class="row" id="details-jeremy">
<h1>The Road.</h1>
</div>
<a name="design"></a>
<div class="row" id="edu-jeremy">
<!-- Education  -->


<!-- Footer -->

  </body>
</html>