<!DOCTYPE html>
<html>
  <head>
    <title>Imagine a new website</title>
    <link rel='shortcut icon' href="/img/favicons/bob-favicon.ico" type="icon/x-icon"/>

    <!-- Bootstrap CDN-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  </head>
  <body>

  <div id="introduction">
    <h1>Reimagined websites</h1>
    <p>Imagine there's no limits<br>
    It's easy if you try<br>
    No wall between us<br>
    Websites for all ideas<br>
    Imagine all the expression<br>
    Presented any time...<br></p>

    <img src="img/spongebob_imagination.jpg">

    <p>Here I'm listing webpages I've reimagined.  Each page will have a header and footer with links to the original website and a screenshot of the original website.  I hope you enjoy how I've imagined these webpages could be...</p>
  </div>

  <div id="list-pages">
    <ul>
      <li><a href="http://www.jeremylewis.herokuapp.com/odyssey">Odyssey Writing Workshops Charitable Trust</a> - The Odyssey Writing Workshops Charitable Trust is a 501(c)(3) nonprofit organization formed with a simple yet inspiring mission: to help developing writers of fantasy, science fiction, and horror improve their work.</li>
    </ul>

  </div>


  </body>
</html>
