<!DOCTYPE html>
<html>
  <head>
  	<title>Jeremy Lewis
  	</title>
  	<link href='http://fonts.googleapis.com/css?family=Montserrat+Subrayada' rel='stylesheet' type='text/css'>
  	<link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>

 	<div class="top">
 		<h1><p>Jeremy Lewis</p><h1>
 	</div>


 	<div class="main">

 		<div class="photo">
 			<a href=<%= @Portfolio.random_link %>  target="_blank">
				<img id="photo" alt="screenshot" height="372" width="410" align="middle" src=<%=@Portfolio.random_photo %>>
			</a>
			<div id="caption">
				<%= @Portfolio.random_caption %>
			</div>
		</div>


		<div class="about">
			<div id="details">
				<!-- Intro -->
				<h3 align="center">Welcome to the show</h3>

				<p>I'm currently a fellow at the <a href="http://flatironschool.com/"  target="_blank">Flatiron School</a> in New York, where I'm learning to code with awesome people.  </p>

				<p>Feel free to try out some of my work by clicking on the image to the left or checking out the Menu below.  Other details about me are linked below.</p>

				<br><br>
				<!-- github -->
					<p align="middle">
						<a href="https://github.com/Lewisjp"  target="_blank">
							<img id="photo" alt="github link" height="37" width="41" align="middle" src='../img/octocat.png'>  Github  
						</a>
					</p>

				<!-- linkedin -->
					<p align="middle">
						<a href="https://www.linkedin.com/pub/jeremy-lewis/12/1b3/6a1/"  target="_blank">
							<img id="photo" alt="linkedin link" height="24" width="28" align="middle" src='../img/linkedin.png'>  LinkedIn  
						</a>
					</p>
				<!-- twitter -->
					<p align="middle">
					<a href="https://twitter.com/LewisJPaul" target="_blank">Twitter Feed</a><br>
					<a href="https://twitter.com/LewisJPaul" class="twitter-follow-button" data-show-count="false">Follow @LewisJPaul</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
					</p>
			</div>

	      <div class="menu">
	        <p class="extend_menu"><strong>Menu</strong></p>
	        <ul>
            <p><strong>Games</strong></p>
	          <li><p><a href="http://r-p-s-l-s.herokuapp.com/">Rock Paper Scissors Lizard Spock</a>, is a twist on the classic playground game made popular by the TV show The Big Bang Theory.  Try your luck.</p></li>
	          <li><p>A <a href="http://game-of-wits.herokuapp.com/">'Game of Thrones'</a> tribute.  Test your memory of classic lines.</p></li>
<!-- 	          <li><p>3</p></li>
	          <li><p>3</p></li>
	          <li><p>3</p></li>
	          <li><p>3</p></li>   -->
            <p><strong>Presentation Transcripts</strong></p>
	          <li><p><a href="http://tinyurl.com/bktalk2">CSS Shapes</a> Presented at Brooklyn Internets on January 9th, 2014, by Jeremy Lewis and Hannah Nordgren.</p></li>
	        </ul>
	      </div>

			
		</div>

		<div class="bottom">
		</div>

	</div>

<script type="text/javascript">
  $(function(){
    $('.extend_menu').click()
  })

  $('.extend_menu').toggle(
    function(){$(this).siblings().hide('fast')},
    function(){$(this).siblings().show('fast')}
  )

  $('.extend_menu').css( 'cursor', 'pointer' );
</script>

</body>
</html>