body {
  text-align: center;
}

html {
  background: url("/img/mountain.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #828282;
}

.enterScores {
  font-weight: bold;
  display: inline-block;
  overflow: hidden;
  background-color: #696F65;
  color: #A29B89;
  padding: 1em;
  border: 1em solid #838378;
  border-radius: 25px;
}