
#preview {
  background-color:white;
  opacity: .9;
  text-align: center;
}

#social-jeremy {
  background: #66ccff;
  background: url("/img/background/sky.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  padding-top: .5em;
  padding-bottom: .5em;
}

#edu-jeremy {
  background: url("/img/background/road-street-forest-fog.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #000000;
  padding-top: 1em;
  padding-bottom: 1em;
}

#culture-jeremy {
  background: url("/img/background/popculture.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #000000;
  padding-top: 1em;
  padding-bottom: 1em;
}

#details-jeremy {
  background: white;
  text-align: center;
  color: blue;
  font-family: 'Ubuntu', sans-serif;
  margin-top: 3em;
  margin-bottom: 3em;
}

#image-button {
  border-radius: 50%;
  height: 10em;
}

#image-oval {
  border-radius: 15%;
}

.clear-float {
  display:inline-block;
  margin-right: 5px;
}


form { display: inline-block; }