<!DOCTYPE html>
<html>
  <head>
    <title>Odyssey Writing Workshops</title>
    <link rel='shortcut icon' href='/img/volunteer/odyssey-favicon.ico' type='image/x-icon'/ >
    <link rel="stylesheet" type="text/css" href="/css/volunteer.css">

    <!-- jQuery CND by google --> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <!-- Bootstrap CDN-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


  </head>
  <body>
    <div class="alert alert-success"><center>
      This page is a reimagined version of the <a href="http://www.sff.net/odyssey/index.htp" target="_blank">Odyssey Writing Workshops Charitable Trust</a> home page. Click <a href="/img/volunteer/odyssey.png" target="_blank">here</a> to see a screenshot of their original version.</center>
    </div>
    <center><img src="/img/volunteer/odyssey-logo.jpg" class="img-responsive"><br></center>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" id="background-odyssey">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#babylo5-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
      </div>
      <div class="col-md-1 col-sm-0"></div>
        <div class="collapse navbar-collapse" id="babylo5-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Odyssey <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="http://www.sff.net/odyssey/index.htp">Current Home Page</a></li>

              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Workshops<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="http://www.sff.net/odyssey/workshop.html">Workshop</a></li>
                <li><a href="http://www.sff.net/odyssey/syllabus.html">Syllabus</a></li>
                <li><a href="http://www.sff.net/odyssey/online.html">Online Classes</a></li>         
                <li><a href="http://www.sff.net/odyssey/webinar.html">Webinars</a></li>
                <li><a href="http://www.sff.net/odyssey/guests.html">Lecturers</a></li>
                <li><a href="http://www.sff.net/odyssey/podcasts.html">Podcasts</a></li>
                <li><a href="http://www.sff.net/odyssey/faq.html">FAQ</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admissions<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="http://www.sff.net/odyssey/apply.html">How to Apply</a></li>
                <li><a href="http://www.sff.net/odyssey/giftcerts.html">Gift Certificates</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Community<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="http://www.sff.net/odyssey/new.html">What's New</a></li>
                <li><a href="mailto:jcavelos@sff.net?subject=Please add me to the Odyssey Newsletter Mailing List">Receive Our Newsletter</a></li>
                <li><a href="http://www.sff.net/odyssey/coolmerch.html">Cool Merchandise</a></li>
                <li><a href="http://www.sff.net/odyssey/volunteer.html">Volunteer</a></li>
                <li><a href="http://www.sff.net/odyssey/ccr.html">Credit Card Rewards</a></li>
                <li><a href="http://www.sff.net/odyssey/goodshop.html">GoodShop</a></li>
                <li><a href="http://www.sff.net/odyssey/goodsearch.html">GoodSearch</a></li>
                <li><a href="http://www.sff.net/odyssey/banners.html">Banners and Badges</a></li>
                <li><a href="http://www.sff.net/odyssey/donations.html">Donations</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Alumni <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="http://www.sff.net/odyssey/gradexs.html">Graduates' Experiences</a></li>
                <li><a href="http://www.sff.net/odyssey/gradcoms.html">Graduates' Comments</a></li>
                <li><a href="http://www.sff.net/odyssey/gradpubs.html">Graduates' Publications</a></li>
                <li><a href="http://www.sff.net/odyssey/specres.html">Special Resources</a></li>
                <li><a href="http://www.sff.net/odyssey/tneo.html">TNEO</a></li>
                <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Class details by year</a>

                <!-- Make this a modal 
                <li><a href="#">Class of '96</a></li>
                <li><a href="#">Class of '97</a></li>
                <li><a href="#">Class of '98</a></li>
                <li><a href="#">Class of '99</a></li>
                <li><a href="#">Class of '00</a></li>
                <li><a href="#">Class of '01</a></li>
                <li><a href="#">Class of '02</a></li>
                <li><a href="#">Class of '03</a></li>
                <li><a href="#">Class of '04</a></li>
                <li><a href="#">Class of '05</a></li>
                <li><a href="#">Class of '06</a></li>
                <li><a href="#">Class of '07</a></li>
                <li><a href="#">Class of '08</a></li>
                <li><a href="#">Class of '09</a></li>
                <li><a href="#">Class of '10</a></li>
                <li><a href="#">Class of '11</a></li>
                <li><a href="#">Class of '12</a></li>
                <li><a href="#">Class of '13</a></li>
                <li><a href="#">Class of '14</a></li>
                <li><a href="#">Class of '15</a></li>
              </ul></li>   -->
              </ul> 
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="http://www.sff.net/odyssey/tips.html">Writing Tips</a></li>
                <li><a href="http://www.sff.net/odyssey/pubtips.html">Publishing Tips</a></li>
                <li><a href="http://www.sff.net/odyssey/salon.html">Salon</a></li>
                <li><a href="http://odysseyworkshop.wordpress.com/">Blog</a></li>
                <li><a href="http://www.sff.net/odyssey/fun.html">Just for Fun </a></li>
                <li><a href="http://www.sff.net/odyssey/crit.html">Critique Service</a></li>
                <li><a href="http://www.sff.net/odyssey/consult.html">Consultations</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="row">
      <div class="col-md-1 "></div>
      <div class="col-md-5 col-sm-10 col-xs-12" id="introduction">
      <p id="background-odyssey"><strong>A Message from </strong><a href="http://www.sff.net/odyssey/jcbio.html">Jeanne Cavelos, Director</a>:</p>
      <br>  
      <p>The Odyssey Writing Workshops Charitable Trust is a 501(c)(3) nonprofit organization formed with a simple yet inspiring mission: to help developing writers of fantasy, science fiction, and horror improve their work.</p>
      <br>
      <p>If you're a writer of fantastic fiction, Odyssey's programs and resources are designed to help you take your writing to the next level. Odyssey is based on the principle that the journey to become the best writer one can be is lifelong. If a writer wants to reach his full potential, to have his work live and grow along with him, he needs to constantly strive to improve. Because of this, the Odyssey Writing Workshops Charitable Trust offers feedback and guidance to writers at all levels, from beginners to successful professionals.</p>
      
      </div>

      <div class="col-md-5 col-sm-10 col-xs-12" id="feed">
        <p id="background-odyssey"><strong>Events & Announcements</strong></p><br>
        <p><u>January 2016</u></p>
          <p><a href="https://odysseyworkshop.wordpress.com/2016/01/10/interview-graduate-and-guest-lecturer-scott-h-andrews/">Interview: Graduate and guest lecturer Scott H. Andrews</a></p>
        <p><u>December 2015</u></p>
          <p><a href="https://odysseyworkshop.wordpress.com/2015/12/13/special-announcement-final-odyssey-online-course-deadline-podcast/">Special Announcement: Final Odyssey Online Course Deadline +New Podcasts</a></p>
        <p><u>November 2015</u></p>
          <p><a href="https://odysseyworkshop.wordpress.com/2015/11/22/special-announcement-upcoming-winter-online-classes-webinar/">Special Announcement: Upcoming Winter Online Classes + Webinar</a></p>
          <p><a href="https://odysseyworkshop.wordpress.com/2015/11/08/interview-graduate-and-guest-lecturer-meagan-spooner/">Interview: Graduate and Guest Lecturer Meagan Spooner</a></p><br>

        


      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-5 col-sm-10 col-xs-12">
        <p id="background-odyssey"><strong>Odyssey Twitter</strong></p><br>
        <a class="twitter-timeline" href="https://twitter.com/OdysseyWorkshop" data-widget-id="691255088585822208">Odyssey Tweets</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>

      <div class="col-md-5 col-sm-10 col-xs-12">
        <p id="background-odyssey"><strong>The Podyssey</strong></p><br>
          <p><u>January 2016</u></p>
          <p><a href="http://podcasts.odysseyworkshop.org/odysseypodcasts_89_brendandubois_fantasticworldoftheshortstory.mp3" target="_blank">Podcast with Brendan DuBois</a> - Brendan DuBois was a guest lecturer at the 2015 Odyssey Writing Workshop, where he spoke on the Fantastic World of the Short Story. Brendan gives a brief account of the history of the SF short story and explains how developing writers can profit from starting with short stories. </p>
          <p><a href="http://www.sff.net/odyssey/podcasts.html">More Podcasts...</a></p>
      </div>
      <div class="col-md-1"></div>
    </div>

    <footer id="background-odyssey">
      <center><br>
        <div id="other-links">
          <a href="http://www.sff.net/odyssey/map.html">Site Map </a>● 
          <a href="http://www.sff.net/people/jcavelos/"> Jeanne's Home Page </a>● 
          <a href="http://www.anselm.edu/"> Saint Anselm College </a><br>
        </div>
        <div id="social-media-icons">
          <a href="http://www.facebook.com/OdysseyWorkshop"><img title="Facebook" alt="Facebook" src="img/volunteer/facebook-logo-transparent.png"></a>
          <a href="http://www.myspace.com/odysseyworkshop"><img title="MySpace" alt="MySpace" src="img/volunteer/myspace-logo-transparent.png"></a>
          <a href="http://twitter.com/OdysseyWorkshop"><img title="Twitter" alt="Twitter" src="img/volunteer/Twitter-Logo-Icon-transparent.png"></a>
          <a href="https://plus.google.com/?gpsrc=gplp0#101705966341228046474/posts"><img title="Google+" alt="Google+" src="img/volunteer/googleplus-logo-transparent.png"></a>
          <a href="https://pinterest.com/odysseyworkshop/"><img title="Pinterest" alt="Pinterest" src="img/volunteer/Pinterest_Logo_Trans.png"></a>          
          <a href="http://www.youtube.com/odysseyworkshop"><img title="YouTube" alt="YouTube" src="img/volunteer/YouTube-Logo-trans.png"></a><br>
        </div>
      </center>
    </footer>

    <div class="alert alert-success"><center>
      This page is a reimagined version of the <a href="http://www.sff.net/odyssey/index.htp" target="_blank">Odyssey Writing Workshops Charitable Trust</a> home page. Click <a href="/img/volunteer/odyssey.png" target="_blank">here</a> to see a screenshot of their original version.</center>
    </div>
  </body>

</html>