<!DOCTYPE html>
<html>
  <head>
    <title>Odyssey Writing Workshops</title>
    <!-- jQuery CND by google --> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <!-- Bootstrap CDN-->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </head>
  <body>
    <img src="/img/volunteer/odyssey-logo.jpg">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Odyssey <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="http://www.sff.net/odyssey/index.htp">Current Home Page</a></li>

              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Workshops<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="http://www.sff.net/odyssey/workshop.html">Workshop</a></li>
                <li><a href="http://www.sff.net/odyssey/syllabus.html">Syllabus</a></li>
                <li><a href="http://www.sff.net/odyssey/online.html">Online Classes</a></li>         
                <li><a href="http://www.sff.net/odyssey/webinar.html">Webinars</a></li>
                <li><a href="http://www.sff.net/odyssey/guests.html">Lecturers</a></li>
                <li><a href="http://www.sff.net/odyssey/podcasts.html">Podcasts</a></li>
                <li><a href="http://www.sff.net/odyssey/faq.html">FAQ</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admissions<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="http://www.sff.net/odyssey/apply.html">How to Apply</a></li>
                <li><a href="http://www.sff.net/odyssey/giftcerts.html">Gift Certificates</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Community<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="http://www.sff.net/odyssey/new.html">What's New</a></li>
                <li><a href="mailto:jcavelos@sff.net?subject=Please add me to the Odyssey Newsletter Mailing List">Receive Our Newsletter</a></li>
                <li><a href="http://www.sff.net/odyssey/coolmerch.html">Cool Merchandise</a></li>
                <li><a href="http://www.sff.net/odyssey/volunteer.html">Volunteer</a></li>
                <li><a href="http://www.sff.net/odyssey/ccr.html">Credit Card Rewards</a></li>
                <li><a href="http://www.sff.net/odyssey/goodshop.html">GoodShop</a></li>
                <li><a href="http://www.sff.net/odyssey/goodsearch.html">GoodSearch</a></li>
                <li><a href="http://www.sff.net/odyssey/banners.html">Banners and Badges</a></li>
                <li><a href="http://www.sff.net/odyssey/donations.html">Donations</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Alumni <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="http://www.sff.net/odyssey/gradexs.html">Graduates' Experiences</a></li>
                <li><a href="http://www.sff.net/odyssey/gradcoms.html">Graduates' Comments</a></li>
                <li><a href="http://www.sff.net/odyssey/gradpubs.html">Graduates' Publications</a></li>
                <li><a href="http://www.sff.net/odyssey/specres.html">Special Resources</a></li>
                <li><a href="http://www.sff.net/odyssey/tneo.html">TNEO</a></li>
                <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Class details by year</a>

                <!-- Make this a modal 
                <li><a href="#">Class of '96</a></li>
                <li><a href="#">Class of '97</a></li>
                <li><a href="#">Class of '98</a></li>
                <li><a href="#">Class of '99</a></li>
                <li><a href="#">Class of '00</a></li>
                <li><a href="#">Class of '01</a></li>
                <li><a href="#">Class of '02</a></li>
                <li><a href="#">Class of '03</a></li>
                <li><a href="#">Class of '04</a></li>
                <li><a href="#">Class of '05</a></li>
                <li><a href="#">Class of '06</a></li>
                <li><a href="#">Class of '07</a></li>
                <li><a href="#">Class of '08</a></li>
                <li><a href="#">Class of '09</a></li>
                <li><a href="#">Class of '10</a></li>
                <li><a href="#">Class of '11</a></li>
                <li><a href="#">Class of '12</a></li>
                <li><a href="#">Class of '13</a></li>
                <li><a href="#">Class of '14</a></li>
                <li><a href="#">Class of '15</a></li>
              </ul></li>   -->
              </ul> 
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="http://www.sff.net/odyssey/tips.html">Writing Tips</a></li>
                <li><a href="http://www.sff.net/odyssey/pubtips.html">Publishing Tips</a></li>
                <li><a href="http://www.sff.net/odyssey/salon.html">Salon</a></li>
                <li><a href="http://odysseyworkshop.wordpress.com/">Blog</a></li>
                <li><a href="http://www.sff.net/odyssey/fun.html">Just for Fun </a></li>
                <li><a href="http://www.sff.net/odyssey/crit.html">Critique Service</a></li>
                <li><a href="http://www.sff.net/odyssey/consult.html">Consultations</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>



  </body>

<!-- Footer 
● Site Map                                                  
● Facebook
● MySpace
● Twitter
● Google+
● Pinterest
● YouTube
● Jeanne's Home Page               
● Saint Anselm College                                      
-->



</html>